<div class="card mt-2 shadow-sm">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img [src]="pokemon.image" width="200" alt="">
                </div>
                <div class="col-md-9">
                    <h3 class="card-title text-capitalize">{{pokemon.name}}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Tipos: <span *ngFor="let type of pokemon.types" class="badge bg-secondary text-capitalize me-1">{{type}}</span></h6>
                    
                    <form [formGroup]="form">
                        <div class="form-group col-md-3">
                            <label class="form-label">Alias</label>
                            <input formControlName="alias" type="text" class="form-control">
                        </div>
                        <button (click)="submit()" class="btn btn-primary fw-bold btn-sm mt-2">GUARDAR COMO FAVORITO</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
