<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between">
            <h1>Lista de Pokemons</h1>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pokemon of pokemons; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td class="text-capitalize">{{pokemon.name}}</td>
                    <td>
                        <button (click)="getPokemon(pokemon)" class="btn btn-sm btn-info me-1">VER</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div [ngClass]="{'d-none': !show, 'd-block': show }" class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="container d-flex align-items-center flex-column">
                        <img *ngIf="!pokemon?.image" src="assets/images/poke-default.webp" width="250" alt="">
                        <img *ngIf="pokemon?.image" [src]="pokemon.image" width="250" alt="">
                            <div>
                                <h3 class="card-title text-capitalize">{{pokemon?.name}}</h3>
                                <h6 class="card-subtitle mb-2 text-muted">Tipos: <span *ngFor="let type of pokemon?.types" class="badge bg-secondary text-capitalize me-1">{{type}}</span></h6>
                            </div>
                            <button (click)="addToFavorites()" class="btn btn-sm btn-primary">AGREGAR A FAVORITOS</button>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
